/* Estilos para los elementos responsive */

@media (max-width:768px) {
    /* Modificacion de estilos para los elementos del nav. */
    .nav {
        align-items: center;
        justify-content: flex-end;
    }

    .container-nav-links a {
        display: none;
    }

    .container-nav-search {
        display: none;
    }

    .logo {
        position: absolute;
        left: 10px;
    }

    .container_menu {
        display: inline-block;
    }

    .menu {
        width: 40px;
    }

    .nav-links-mobile {
        z-index: 1;
        width: 100%;
        height: 100vh;
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        border-bottom: 1px solid #74768F;
    }
    
    .nav-links-mobile a {
        color: #252630;
        font-weight: 500;
        text-decoration: none;
        padding: 25px;
        border-bottom: 1px solid #74768F;
    }

    /* Estilos para el link de ver todo, que pertenece al componente Sales. */
    .sales {
        color: #BC1400;
        font-size: 12px;
    }

    /* Modificacion de estilos para los elementos de category */
    .container_category {
        grid-template-rows: auto;
        grid-template-columns: max-content;
    }

    .container_brands {
        gap:15px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .brand {
        width: 50px;
        height: 50px;
    }
}

@media (max-width:425px) {
    /* Apartado de estilos para las categorias en dispositivos mobile. */
    .category {
        width: 300px;
        height: 175px;
    }

    /* Estilos para el apartado de reloj. */
    .container_clock {
        width: 90%;
        position: static;
        margin:10px auto;
        width: max-content;
    }

    .time {
        font-size: 18px;
    }

    .point {
        font-size: 20px;
    }

    /* Estilos para el anuncio. */
    .container_anuncio {
        margin: 10px;
        text-align: center;
        
    }

    .img-anuncio {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    /* Estilos para los elementos del footer. */
    .footer * {
        font-size: 8px;
    }

    .footer-flex {
        flex-direction: column-reverse;
    }

    .icon-pay {
        width: 50px;
    }

    .icon-contact {
        width: 15px;
    }
}