@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    color: #252630;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el menú de navegación de desktop. */
.nav {
    padding: 5px;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para los links de navegación. */
.logo {
    width: 150px;
}

.container-nav-links a {
    margin: 0 15px;
    text-decoration: none;
    transition: 300ms all;
}

.container-nav-links a:hover {
    color: #BC1400;
    transition: 300ms all;
}

/* Estilos para el buscador de productos. */
.container-nav-search {
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.nav-search {
    margin: 0 2px;
    outline: none;
    border: none;
    background-color: #D9D9D9;
}

.nav-icon {
    width: 20px;
}

/* Estilos para el icono de carrito de compras. */
.container-cart {
    display: flex;
    margin: 0 20px;
}

.cart-count {
    z-index: 1;
    width: 22px;
    height: 22px;
    color: #fff;
    display: flex;
    font-size: 14px;
    cursor: default;
    overflow: hidden;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #BC1400;
}

.icon-cart {
    left: 15px;
    width: 50px;
    position: relative;
}

/* Estilo para el carousel de la página inicial. */
.carousel {
    width: 100%;
    height: 500px;
}

.img-show {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s;
}

.img-left {
    left: 0;
    width: 0px;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s ease-in-out;
}

.img-right {
    right: 0;
    width: 0px;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s ease-in-out;
}

/* Estilos para el apartado de categorias. */
.container_category {
    gap: 10px;
    display: grid;
    user-select: none;
    margin: 20px auto;
    width: max-content;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.category {
    width: 645px;
    height: 345px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color:#BC1400;
    justify-content: center;
}

.title-category {
    color: #fff;
}

.category a {
    z-index: 1;
    text-decoration: none;
}

.category-img {
    z-index: 1;
    opacity: 1;
    width: 645px;
    height: 345px;
    position: absolute;
    border-radius: 10px;
    transition: all 1s ease;
}

.category-img-hover {
    opacity: .0;
    transition: all 1s ease;
}

/* Apartado de estilos del contendor de descuentos. */
.container_sale {
    margin: auto;
    margin-top: 30px;
}

.title-sale {
    color:#252630;
    text-align: center;
}

.container-btn-list {
    width: 95%;
    margin: auto;
    text-align: right;
}

.sales {
    color:#252630;
    font-weight: 600;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms;
}

.sales:hover {
    color: #BC1400;
    transition: all 300ms;
}


/* Apartado de estilos de la sección del footer. */
.footer {
    cursor: default;
    margin-top: 30px;
}

.footer-grid {
    display: grid;
    user-select: none;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
    
}

/* Apartado de estilos de la sección de pagos dentro del footer. */
.container-footer {
    text-align: center;
    background-color: #000;
}

.title-footer {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-pay {
    width: 80px;
    margin: 0 40px;
}


/* Apartado de estilos de la sección de contacto dentro del footer. */
.container-contact {
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    margin: 0 10px;
}

.data-contact {
    color:#fff;
}

.text-copy {
    font-size: 14px;
    color: #74768F;
    text-align: center;
    background-color: #000;
    padding: 10px;
}