@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    color: #252630;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el menú de navegación de desktop. */
.nav {
    padding: 5px;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para los links de navegación. */
.logo {
    width: 140px;
    height: 40px;
}

.container-nav-links a {
    margin: 0 15px;
    text-decoration: none;
    transition: 300ms all;
}

.container-nav-links a:hover {
    color: #BC1400;
    font-weight: 600;
    transition: 300ms all;
}

/* Estilos para el buscador de productos. */
.container-nav-search {
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.nav-search {
    margin: 0 2px;
    outline: none;
    border: none;
    background-color: #D9D9D9;
}

.nav-icon {
    width: 20px;
}

/* Estilos para el icono de carrito de compras. */
.container-cart {
    display: flex;
    margin: 0 20px;
}

.cart-count {
    z-index: 1;
    width: 22px;
    height: 22px;
    color: #fff;
    display: flex;
    font-size: 14px;
    cursor: default;
    overflow: hidden;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #BC1400;
}

.icon-cart {
    left: 15px;
    width: 50px;
    position: relative;
}

/* Estilo para el carousel de la página inicial. */
.carousel {
    width: 100%;
    height: 560px;
}

.img-show {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s;
}

.img-left {
    left: 0;
    width: 0px;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s ease-in-out;
}

.img-right {
    right: 0;
    width: 0px;
    height: inherit;
    object-fit: cover;
    position: absolute;
    transition: all 2s ease-in-out;
}

/* Apartado de estilos del contendor de descuentos. */
.container_sale {
    width: 95%;
    margin: auto;
    margin-top: 35px;
}

.title-sale {
    cursor:default;
    color:#252630;
    user-select: none;
    text-align: center;
}

.container-btn-list {
    width: 95%;
    margin: auto;
    text-align: right;
}

.sales {
    top: -30px;
    color:#252630;
    font-weight: 600;
    text-align: right;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: all 300ms;
}

.sales:hover {
    color: #BC1400;
    transition: all 300ms;
}

/* Estilos para el apartado de categorias. */
.container_category {
    gap: 20px;
    display: grid;
    margin: 50px auto;
    width: max-content;
    grid-template-rows: 300px;
    grid-template-columns: 600px 600px;
}

.category {
   width: 600px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.category-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    transition: all 700ms;
}

.category-hidden {
    height: 25%;
    opacity: .0;
    margin-top:50px;
    width: inherit;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    transition: all 700ms;
}

.title-category {
    z-index: 1;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}


/* Apartado de estilos de la sección de anuncio. */
.container_anuncio {
    margin: 25px;
    text-align: center;
}

.img-anuncio {
    width: 95%;
    border-radius: 10px;
}

/* Apartado de estilos de la sección de marcas. */
.container_brands {
    gap: 35px;
    display: flex;
    margin: 30px 0;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.brand {
    padding:10px;
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
}

/* Apartado de estilos de la sección del footer. */
.footer {
    cursor: default;
    user-select: none;
    background-color: #000;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Apartado de estilos de la sección de pagos dentro del footer. */
.footer-icons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-pay {
    width: 65px;
}


/* Apartado de estilos de la sección de contacto dentro del footer. */
.footer-contact {
    width: max-content;
    margin-top:10px;
}

.title-footer {
    color:#fff;
    text-align: center;
}

.container-contact {
    display: flex;
    margin: 10px 0;
}

.icon-contact {
    margin-right: 10px;
}

.data-contact {
    color:#fff;
}

/* Apartado de estilos para la sección de copyright. */
.text-copy {
    padding: 10px;
    font-size: 14px;
    color: #74768F;
    text-align: center;
    background-color: #000;
}